In [ ]:
from python_oracle_toolkit.process_sql_query import SqlQuery

## Set Parameters

In [ ]:
## Parameters

json_file = r"C:\Users\user\file.json" # or "/mnt/c/Users/user/file.json"

sql_query = r"C:\Users\user\file.sql"  # or "/mnt/c/Users/user/file.sql"

# or 

sql_query2 = """
SELECT employee_id
FROM employees
"""

# schema/puggable database
schema = "production_B"

## Run process

In [ ]:
connection = SqlQuery(json_file,sql_query,schema)

In [ ]:
# get dataframe
df = connection.create_dataframe